.centre {
    text-align: center;
    color: red;
}

.titre2 {
    color: red;
}

.formulaire {
    margin-left: 100px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(10, 200, 100, 0.1) !important;
}


/* table,
tr {
    border: 3px solid rgba(252, 42, 42, .5);
} */

td {
    border: 2px solid rgba(14, 13, 13, 0.5);
}

table {
    margin-top: 50px;
}